*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue-underline {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

input[type='checkbox'], .checkbox-label {
    cursor: pointer;
}
