#main-content-container {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

.App {
    min-height: 100vh;
    background: linear-gradient(#131a1f, #079ea8)
}

@media screen and (min-width: 768px){
    #main-content-container {
        flex-direction: row !important;
        flex-wrap: wrap;
    }
}

